<section class="login-info">
<div class="container top-buffer bottom-buffer">
  <div class="row main">
       <div id="login-header" class="form-header">
          <h2 class="text-center ">Access to Nimrod Portal</h2>
        </div>
    <div id="login-content" class="main-content">
        <label class="col-xs-4 control-label">Remote system</label>
          <div class="col-xs-8 selectContainer ">
            <select class="form-control" ng-model="loginService" ng-disabled="showSpinner()" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Select a remote system you have access to and click "login" to begin!">
                <option ng-repeat="service in authBackends" value="{{ service }}">
                    {{ service }}
                </option>
            </select>
          </div>
<hr>
          <div class="text-center top-buffer">
              <span style="width: 20px;" ng-if="showSpinner()"></span>
              <button id="loginbtn" class="btn btn-default btn-primary"
                 ng-disabled="loginButtonDisabled(loginService)"
                 ng-click="startLogin(loginService)">Login</button>
              <md-progress-circular
                    ng-if="showSpinner()"
                    md-mode="indeterminate"
                    md-diameter="20px"
                  style="margin: -20px -40px 0px -40px; height: 20px;">
              </md-progress-circular>
          </div>



      </div>
    </div>
</div>
</section>
