<div id="experiment-manager" class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Resources
          </h1>
          <ol class="breadcrumb">
              <li><a href="index.jsp">Home</a>
              </li>
              <li class="active">Resources</li>
          </ol>
        </div>
    </div>
    
    <div ng-controller="ResourceManagerCtrl" layout="column" class="view-container" flex>
      <div ui-grid="gridOptions" ui-grid-selection class="smallGrid"></div>
      <div layout="row" layout-align="center center">
      	<md-button class="md-primary launch-btn" aria-label="create" ng-click="dummy(selectedConfiguration, session.uid)">Create
        </md-button>
        <md-button class="md-accent launch-btn" aria-label="delete" ng-click="dummy(selectedConfiguration, session.uid)">Delete
        </md-button>
        <md-button class="md-primary launch-btn" aria-label="start" ng-click="dummy(selectedConfiguration, session.uid)">Modify
        </md-button>
        <md-button class="md-primary launch-btn" aria-label="more"  ng-click="dummy(selectedConfiguration, session.uid)">More
        </md-button>
     </div>  
    </div>
</div>
