/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 31-May-2017, 11:42:55
    Author     : uqysun6
*/
.main{
    margin-top: 50px;
}

.main-content {
    border: 2px solid #49075e;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 40px;
    color: #ccc;
    text-shadow: none;

}


.input-group{
	margin: 20px 0px;
}
.input-group-addon {
    color: #49075e;
    font-size: 17px;
}
.login-button{
    margin: 0px auto;
    max-width: 200px;;

}

.form-header{
    max-width: 500px;
    margin: 0 auto;
    background-color: #49075e;
    color: #fff;
    width: 100% ;
    padding: 20px 0px;
    border-top-right-radius:10px ;
    border-top-left-radius:10px
}
.remember{
    color: black;
}
.top-buffer {
    margin-top:40px;
}

.bottom-buffer {
    margin-bottom:40px;
}


#experiment-viewer{
    width:100%;
    height:100%;
    position:absolute;
}

.logo{
    float: left;
}

.big-btn{
    width:150px;
}

.center-content
{
    text-align: center;
}
.header-right{
    float:right;
}

.header-buttons ul{
    margin:0;
    height:40px;
}

.header-buttons ul li {
  display: inline-block;
  font-size: 18px;
  padding-left: 18px;
}

.header-buttons ul li.phone {
  font-weight: bold;
}
.header-buttons ul.bottom-buttons li a.em-button:hover{
  background-color: #444240;
  color: #fff;
  text-decoration: none;
}
.header-buttons ul.bottom-buttons li a.em-button {
  border: 1px solid #565656;
  color: #353535;
  display: inline-block;
  font: normal 1.118rem/1.2em Arial, sans-serif;
  padding: 8px 16px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

ul.top-buttons {
  margin-bottom: 10px;
  text-align: right;
  float: right;
}
ul.top-buttons li a {
  color: #5d6a35 !important;
  font-size: 18px !important;
}

.banner-text{
    display: inline-block;
    margin-top: 30px;
    /* position: relative; */
    margin-left: 45px;
    font-weight: bold;
    font-size: 18px;
}

.fixed-width{
    width:1170px;
    margin:0 auto;
}

.software-logo{
    max-height: 100px;
    max-width: 100%;
}

.scaled-logo{
    height: 50%;
}

.main-menu {
    background-color: #49075e;
  }
/* override bootstap style */
.navbar-nav>li>a{
    color: white;
  }

.navbar-nav>li:hover>a{
    background-color: white;
    color:#49075e;
  }

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
      background-color:#49075e;
      border-color:#5d6a35;
  }

  a:focus, a:hover{
    color: #BD4D17;
    text-decoration: underline;
  }
  a {
      color:#BD4D17;
  }
  .btn-primary:hover{
    color: #fff !important;
    background-color: #ae552a !important;
    border-color: #ae552a #fff !important;
  }
  .btn-primary{
    color: #fff !important;
    background-color: #BD4D17 !important;
    border-color: #BD4D17 !important;
  }
  #login-header{
      background-color: white;
  }
  #login-content{
      border:2px solid #D0D7C8;
      color:black;
  }
/*footer*/
#footer-strip{
    border-bottom:solid 40px #49075e;
}

.footer-main {
  color: #49075e;
  padding-bottom: 5px;
  padding-top: 0px;
  margin-top: 0px;
}
.footer-col {
  position: relative;
  float: left;
}
.footer-col:last-child:after {
  display: none;
}
.footer-col h3 {
  color: #49075e;
  font-size: 22px;
  font-weight: normal;
}
.footer-col-1 {
  padding: 0 15px 0 0;
  width: 27%;
}
.footer-col-2 {
  padding: 0 10px;
  width: 20%;
}
.footer-col-3 {
  padding: 0 10px;
  width: 22%;
}
.footer-col-4 {
  padding: 0 0 0 20px;
  width: 31%;
}
.footer-col-1 ul {
  float: left;
  padding-left: 0;
}
.footer-col-1 p {
  font-size: 15px;
  text-align: center;
}
.footer-col-1 ul li {
  font-size: 15px;
  list-style: none;
  margin-bottom: 15px;
}
.footer-col-1 ul li a {
  color: #242424;
}
 .footer-col-1 ul li ul li {
  margin-bottom: 0;
  padding: 0 4px;
}
.list-left {
  width: 50%;
}
.list-right {
  width: 50%;
  text-align: left;
}
.list-right .list-inline li {
  display: inline-block;
}
.list-right .social-media {
  float: none;
  margin: 0;
  margin-top: -5px;
}
.copyright {
  clear: both;
  padding-top: 15px;
}
.copyright p {
  font-size: 14px;
  text-align: center;
}
@media (min-width: 600px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

/*
To make clickable box
*/
/*
div.box {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

a.div.box:hover,
a.div.box:focus,
a.div.box.active {
  border-color: #337ab7;
}
.div.box .caption {
  padding: 9px;
  color: #333;
}
*/
div.box {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;

    -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;
}
div.box > img,
div.box a > img {
  margin-right: auto;
  margin-left: auto;
}

div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .7;
}

div.box a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

/*
Image box that zooming in when hovered
*/
.mg-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}
.mg-image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
/* just apply some height and width to the wrapper.*/
.mg-image {
  width:100%;
  height:100%;
  overflow: hidden;
}

/*
Pop-up text when hovered
*/
.data-hid {
height: 50px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.data-hid:hover{
overflow: visible;
white-space: normal;
height: auto;

}

/*
Carousel
*/
.toggleCaption {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -moz-transition: none !important;
}

background-image{
    width: auto;
    height: 100%;
    margin: auto;
}

background-image > defocus{
    opacity: 0.5;
    filter: blur(5px);
}
.portfolio-img
{
    width: 300px;
    height: 200px;
}

.portfolio-span
{
    font-weight: bold;
}

.portfolio-para
{
    text-align: justify;
}
.carousel-wordle{
    background-color:#555;
}

.carousel-share{
    background-color:#BEDCAA;
}

.carousel-inner > .carousel-wordle > img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 100pt;
}

.carousel-inner >.carousel-share> img{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.gmap-iframe{
    width:600px;
    height: 400px;

}

.experimentviewheader {
    background-color:#5d6a35 !important;
}

#experiment-subheader{
    color:#ae552a;
}

h2 {
    color: #49075e;
}

.partner-img{
    height: 100px;
    width: 200px;
}

.partner-img-long{
    margin-top:25px;
}

.partner-img-big{
    width:200px;
    height: 150px;
}

.google-slide {
    position: relative;
    padding-bottom: 36%;
    height: 0;
    overflow: hidden;
}
.google-slide iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
