<div id="experiment-manager" class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Experiments
          </h1>
          <ol class="breadcrumb">
              <li><a href="index.jsp">Home</a>
              </li>
              <li class="active">Experiments</li>
          </ol>
        </div>
    </div>
	
    <div ng-controller="ExperimentManagerCtrl" layout="column" class="view-container" flex>
      <!-- list of buttons>
      <div layout="column" layout-align="left" flex="20">
        <md-button class="md-primary launch-btn" aria-label="create" ng-click="dummy(selectedConfiguration, session.uid)">
            Create
       </md-button>
       <md-button class="md-accent launch-btn" aria-label="delete" ng-click="dummy(selectedConfiguration, session.uid)">
            Delete
       </md-button>
       <md-button class="md-primary launch-btn" aria-label="start" ng-click="dummy(selectedConfiguration, session.uid)">
            Start
       </md-button>
       <md-button class="md-primary launch-btn" aria-label="more" ng-click="dummy(selectedConfiguration, session.uid)">
            Info
       </md-button>
      </div>
      -->
      <!-- list of experiments -->
      <!--md-progress-linear md-mode="indeterminate" ng-hide="!expListRefreshInProgress()"></md-progress-linear-->
      <div ui-grid="gridOptions" ui-grid-selection class="smallGrid" ng-disabled="expListRefreshInProgress()"></div>
      <div layout="row" layout-align="center center">
        <md-button class="md-primary launch-btn" aria-label="create" ng-click="dummy(selectedConfiguration, session.uid)">Create
        </md-button>
        <md-button class="md-accent launch-btn" aria-label="delete" ng-click="dummy(selectedConfiguration, session.uid)">Delete
        </md-button>
        <md-button class="md-primary launch-btn" aria-label="start" ng-click="dummy(selectedConfiguration, session.uid)">Start
        </md-button>
        <md-button class="md-primary launch-btn" aria-label="more" ng-click="dummy(selectedConfiguration, session.uid)">More </md-button>
      </div>
    </div>
</div>
