<!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to CoESRA
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-magic"></i> What is this? </h4>
                    </div>
                    <div class="panel-body">
                        <p> Nimrod Portal  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-user fa-fw"></i> Who can use? </h4>
                    </div>
                    <div class="panel-body">
                        <p> Anyone with AAF.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-cog"></i> Why Nimrod? </h4>
                    </div>
                    <div class="panel-body">
                        <p>Parameter sweep across multiple computational resources.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        
        
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row" id="Features">
            <div class="col-lg-12">
                <h2 class="page-header">Nimrod Portal Features</h2>
            </div>
            <div class="col-md-6">
                <p>More about Nimrod Portal features here.</p>
            </div>
            <div class="col-md-6 google-slide">
                <iframe
                    src="https://docs.google.com/presentation/d/1DnY04HGF4nEfxMyLZtlL1GFaGdCoEGO21IqBzIqqtJY/embed?start=false&loop=false&delayms=3000" 
                    frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
                        Your browser does not support iframes
                </iframe>
            </div>
        </div>

        <!-- /.row -->

        <hr>
    </div>
