    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.jsp">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row" id="What">
            <div class="col-md-7 google-slide">
                <iframe 
                    src="https://docs.google.com/presentation/d/1DnY04HGF4nEfxMyLZtlL1GFaGdCoEGO21IqBzIqqtJY/embed?start=false&loop=false&delayms=3000" 
                    frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
                    Your browser does not support iframes
                </iframe>
            </div>
            <div class="col-md-5">
                <h2>About Nimrod Portal</h2>
                <p>The details about how to use the portal is available in <a href="#/faq"> FAQs</a>.</p>
                <p>The Nimrod portal uses Coesra template and Strudel-web technology</p>
                  <p>Please <a href='#/contact'>contact us</a> if you wants to know more about The Nimrod portal.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row equal">
            <div class="col-sm-12">
                <h2 class="page-header">Partners</h2>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="box">
                    <img class="img-responsive" src="images/logos/tern.png" alt="">
                    <div class="caption">
                        <h3>Terrestrial Ecosystem Research Network<br>
                        </h3>
                        <p>
                            <a class="divLink" href="http://www.tern.org.au" target="_blank">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
             <div class="col-md-4 col-sm-6 text-center">
                <div class="box">
                    <img class="img-responsive" src="images/logos/monasheRC.png" alt="">
                    <div class="caption">
                        <h3>Monash eResearcher Centre<br>
                        </h3>
                        <p>
                            <a class="divLink" href="https://www.monash.edu/researchinfrastructure/eresearch" target="_blank">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="box">
                    <img class="img-responsive partner-img-big" src="images/logos/qcif.png" alt="">
                    <div class="caption">
                        <p>
                            <a class="divLink" href="https://www.qcif.edu.au/" target="_blank">
                            </a>
                        </p>
                    </div>
                </div>
            </div>

    </div>
