    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Policy
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.jsp">Home</a>
                    </li>
                    <li class="active">Policy</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
                        <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="index.jsp" class="list-group-item">Home</a>
                    <a href="#/about" class="list-group-item">About</a>
                    <a href="#/contact" class="list-group-item">Contact</a>
                    <a href="#/citation" class="list-group-item">Citation</a>
                    <a href="#/faq" class="list-group-item">FAQ</a>
                    <a href="#/accesspolicy" class="list-group-item active">Policy</a>
                </div>
            </div>
            <div class="col-md-9">
	            <h2>Access Policy</h2>
				
            </div>
        </div>
        <!-- /.row -->
</div>
