    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Citation
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.jsp">Home</a>
                    </li>
                    <li class="active">Citation</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="index.jsp" class="list-group-item">Home</a>
                    <a href="#/about" class="list-group-item">About</a>
                    <a href="#/contact" class="list-group-item">Contact</a>
                    <a href="#/citation" class="list-group-item active">Citation</a>
                    <a href="#/faq" class="list-group-item">FAQ</a>
                    <a href="#/accesspolicy" class="list-group-item">Policy</a>
                </div>
            </div>
            <div class="col-md-9">
                <p>
                  Please cite the following article if you want to reference Nimrod:
                <br/>
                    <em>Abramson, David and Giddy, Jonathan and Kotler, Lew (2000). High performance parametric modeling with Nimrod/G: killer application for the global grid? Proceedings of the 14th International Parallel and Distributed Processing Symposium - IPDPS, 2000. <a href="http://ieeexplore.ieee.org/abstract/document/846030/">http://ieeexplore.ieee.org/abstract/document/846030/</a>.</em>
                </p>
            </div>
        </div>
        <!-- /.row -->
</div>
