    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FAQ
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.jsp">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
                <h3>System Information</h3>
                <ul>
                    <li><a class="faqquestions" href="" data-target="collapseOne">How can I access Nimrod Portal?</a></li>
                </ul>

                <h3>Resource Information</h3>
                <ul>
                    <li><a class="faqquestions" href="" data-target="collapseTwelve">How can I add my own resource?</a></li>
                </ul>
        </div>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" href="">How can I access Nimrod Portal?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Using Australian Access Federation (AAF) authentication. Please contact <a href="mailto:uqhngu36@uq.edu.au">uqhngu36@uq.edu.au</a> to get guest account if your organisation is not part of AAF.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" href="">How can I add my own resource?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                Just add.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
