/* app css stylesheet */

.view-container > md-content.md-default-theme {
  background-color: #f6f6f6;
}

.user-details {
  font-size: small;
}

.facility-heading {
  font-size: large;
}

/*.feedback-btn {
  top: 45px;
  bottom: auto;
  position:absolute;
}*/

.feedback-btn{
    background: transparent;
    border: none !important;
    font-size:0; 
}

.grid {
    width: 100%;
    height: 200px;
}

.smallGrid {
    width: 100%;
    height: 100px;
}